<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="MobileToPcInput 安装程序"
    Manufacturer="MobileToPcInput"
    Version="$(var.ProductVersion)"
    UpgradeCode="f680d53c-000e-46a3-8986-2c0a023a3fdd"
    Compressed="yes"
    IconSourceFile="$(var.ProjectDir)\Assets\app.ico">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        ShowVersion="yes"
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="MobileToPcInputMsi"
        SourceFile="$(var.MsiPath)"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
